/* Tablet Size */
@media screen and (max-width: 768px) {
  .hero-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .app-description {
    text-align: center;
  }

  .anime-rating-stream-div {
    display: flex;
    flex-direction: column;
  }

  .anime-stream {
    text-align: center;
  }

  .app-footer,
  .footer-info,
  .devs {
    display: flex;
  }
}

/* Large Mobile Size */
@media screen and (max-width: 425px) {
  .app-footer,
  .footer-info,
  .devs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Small Mobile Size */
@media screen and (max-width: 320px) {
  .app-title {
    font-size: 25px !important;
  }

  .app-description {
    font-size: 18px !important;
  }
}
