// Colors

$nintendo-red: rgba(216, 0, 0, 0.76);
$xbox-green: rgba(0, 105, 9, 0.795);
$playstation-blue: rgba(0, 17, 255, 0.644);
$steam-light: #dbdbdbdc;

$off-white: rgb(230, 227, 227);
$off-black: rgb(22, 22, 22);

$background-dark: rgb(39, 39, 39);
$background-light: #c5c7d4;

$text-dark: #363636;
$font-primary: 'Share Tech Mono', monospace;
$font-secondary: 'VT323', monospace;
