@import '../../styles/colors.css';

.results {
  font-size: 3rem;
  font-family: 'Share Tech Mono', monospace;
  color: var(--offWhite);
  text-align: center;
  padding-bottom: 5px;
}

.searchResults h3 {
  font-family: 'VT323', monospace;
  color: var(--playstationBlue);
  text-decoration: underline;
  font-size: 32px;
}

.searchResults p {
  font-family: 'Share Tech Mono', monospace;
}

.searchResults {
  background-color: var(--backgroundLight);
  border: 1px solid var(--offBlack);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 4px var(--backgroundDark);
}

.searchResults:hover {
  box-shadow: 0 0 10px var(--offWhite);
  border: 1px solid var(--offWhite);
}

.image {
  height: 15rem;
  width: 15rem;
}

@media screen and (max-width: 1300px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .imgColumn {
    display: flex !important;
    justify-content: center;
  }
}
