* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $background-dark;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: $off-white;
}

.app-description {
  text-align: left;
}

h2 {
  font-family: $font-primary;
  color: $off-white;
}

h4 {
  font-family: 'Press Start 2P', cursive;
  vertical-align: top;
}

#console-wars {
  font-family: $font-secondary;
  font-weight: bolder;
  font-size: 3rem;
  color: $off-white;
}

.project-title {
  padding: 3rem;
}

#anime-results {
  font-size: 3rem;
  font-family: $font-primary;
  color: $off-white;
  text-align: center;
  padding-bottom: 5px;
}
